<div mc:edit="std_content00">
    <%= @user.first_name %>,
    <br />
    <br />
    <strong>Welcome to Artup Weekend</strong> - an organization of artists and cultural creatives who want to collaborate to make great art.
    <br />
    <br />
    <strong>Participate</strong> - The first Artup Weekend is taking place on June 14. Join .in on the <a href="http://www.hoos.in/ideas/artup-weekend-madison-wi">hoos.in idea</a> and then purchase your ticket on <a href="http://www.eventbrite.com">eventbrite</a>
    <br />
    <br />    
    <strong>Organize</strong> - You can organize your own city's Artup Weekend! If you are interested <strong>join in the conversation</strong>. Post the most amazing artists, art projects, and kickstarters or indiegogo projects on <a href="http://www.artupweekend.com/artitup">art it up</a>. Also <a href="http://www.twitter.com/artupweekend">follow us</a> and mention us on twitter and/or <a href="http://www.facebook.com/artupweekend">like us</a> and share us on facebook.
    <br />
    <br />
</div>