<div mc:edit="std_content00">
    <h4 class="h4">Create Art</h4>
    <%= @user.first_name %>,
    <strong>Welcome to Artup Weekend</strong> - an organization of artists and cultural creatives who want to collaborate to make great art.
    <br />
    <br />
    <strong>Join in the conversation</strong> - come post collaborative and inspiring art projects on <a href="http://www.artupweekend.com/artitup">art it up</a>. Its a great place to promote your indie-go-go or Kickstarter campaign. Or just a place to find and vote on the coolest creative projects going on in the world.
    <br />
    <br />
</div>