<div mc:edit="std_content00">
    <h4 class="h4">Welcome to Artup Weekend</h4>
    <strong>Creativity</strong> 
    <br />
    <br />
    After you enter your content, highlight the text you want to style and select the options you set in the style editor in the "styles" drop down box. Want to <a href="http://www.mailchimp.com/kb/article/im-using-the-style-designer-and-i-cant-get-my-formatting-to-change" target="_blank">get rid of styling on a bit of text</a>, but having trouble doing it? Just use the "remove formatting" button to strip the text of any formatting and reset your style.
</div>