<div class="container padding-top">
  <div class="row">
    <div class="col-sm-12">
      <h1><%= profile_picture(@user) %> <%= @user.username %></h1>
      <% if @user == current_user %>
        <div class="pull-right">
          <li><%= link_to "Settings", edit_user_registration_path %></li>
        </div>
      <% end %>
      <h4>posts</h4>
      <% @user.posts.each do |p| %>
        <%= render partial: 'posts/post', locals: { :post => p } %>
      <% end %>
    </div>
  </div>
</div>