<div class="row">
  <%= link_to posts_path do %>
  	<h2 class="clear-both">art it up</h2>
  <% end %>
  <div>the best place to share and find collaborative art online</div>
  <%= link_to 'New Post', new_post_path, class:'btn btn-warning pull-left' %>
</div>	