/*triads to startupweekend's blue

#98FF00
#FF0098

*/

body {
	padding:0;
	font-family: Helvetica, lucida, sans-serif;
	color: rgb(66, 66, 66);
background-color: white;
font-size: 20px !important;
}

h1 {
	font-size:80px;
	line-height: 1;
	margin-left:10px !important;
	padding-top:80px;
	padding-bottom:30px;
}

h1,h2,h3,h4,h5 {
	color: #FF745E !important;
}

.row {
	margin-left:0 !important;
}

#work {
	color: white;
background-color: #1b1b1b;
background-image: -moz-linear-gradient(top, #222222, #111111);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#222222), to(#111111));
background-image: -webkit-linear-gradient(top, #222222, #111111);
background-image: -o-linear-gradient(top, #222222, #111111);
background-image: linear-gradient(to bottom, #222222, #111111);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff222222', endColorstr='#ff111111', GradientType=0);
background-color: #1b1b1b;
background-image: -moz-linear-gradient(top, #222222, #111111);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#222222), to(#111111));
background-image: -webkit-linear-gradient(top, #222222, #111111);
background-image: -o-linear-gradient(top, #222222, #111111);
background-image: linear-gradient(to bottom, #222222, #111111);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff222222', endColorstr='#ff111111', GradientType=0);
border-color: #252525;
	text-align: center;
	.span3 {
		margin:0;
	}
}

input[type=text] {
	border-radius:0 !important;
	padding:20px !important;
	font-size:25px !important;
}

.contact {
	background-color: white;
}

.navbar {
	height: 50px;
}

.navbar-inner {
		border:none !important;
	background:none !important;
}

#home {
padding-top: 20px;
background-color: #80D5ED;
height: 600px;
	p {
		color:rgb(105, 97, 97);
	}
}

	h1 {
		font-size: 106px !important;
line-height: 91px !important;
	}

footer {
	text-align: center;
color: white;
background-color: #1b1b1b;
background-image: -moz-linear-gradient(top, #222222, #111111);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#222222), to(#111111));
background-image: -webkit-linear-gradient(top, #222222, #111111);
background-image: -o-linear-gradient(top, #222222, #111111);
background-image: linear-gradient(to bottom, #222222, #111111);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff222222', endColorstr='#ff111111', GradientType=0);
background-color: #1b1b1b;
background-image: -moz-linear-gradient(top, #222222, #111111);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#222222), to(#111111));
background-image: -webkit-linear-gradient(top, #222222, #111111);
background-image: -o-linear-gradient(top, #222222, #111111);
background-image: linear-gradient(to bottom, #222222, #111111);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff222222', endColorstr='#ff111111', GradientType=0);
border-color: #252525;
height: 22px;
padding: 22px 0;
}

textarea {
height: 300px !important;
width: 450px !important;
padding:25px !important;
font-size: 20px !important;
}

.tag-line {
	position: relative;
bottom: 48px;
}

.background {
	position: absolute;
	z-index: -1;
	width: 100%;
	min-width: 660px;
	img {
		width:100%;
		max-height: 900px;
	}
}

label {
	margin-bottom: 0;
}

.work-explanation {
height: 283px;
position: absolute;
background: rgba(0, 0, 0, 0.7);
width: 283px;
text-align: left;
padding: 15px;
font-size: 16px;
}

.tiny-margin-bottom {
	margin-bottom: 5px;
}