/*triads to startupweekend's blue

#98FF00
#FF0098

*/

body {
	padding:0;
	font-family: Helvetica, lucida, sans-serif;
	font-size: 20px;
}

h1 {
	font-size:80px;
	line-height: 1;
	margin-left:10px;
	padding-top: 30px;
	padding-bottom: 50px;
	margin:0;
}

form {
	margin-left: 60px;
}

.alert {
	margin-bottom: 0;
}

.home h1 {
	color: white;
}

.row {
}

#work {
	color: white;
background-color: #1b1b1b;
background-image: -moz-linear-gradient(top, #222222, #111111);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#222222), to(#111111));
background-image: -webkit-linear-gradient(top, #222222, #111111);
background-image: -o-linear-gradient(top, #222222, #111111);
background-image: linear-gradient(to bottom, #222222, #111111);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff222222', endColorstr='#ff111111', GradientType=0);
background-color: #1b1b1b;
background-image: -moz-linear-gradient(top, #222222, #111111);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#222222), to(#111111));
background-image: -webkit-linear-gradient(top, #222222, #111111);
background-image: -o-linear-gradient(top, #222222, #111111);
background-image: linear-gradient(to bottom, #222222, #111111);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff222222', endColorstr='#ff111111', GradientType=0);
border-color: #252525;
	text-align: center;
	.span3 {
		margin:0;
	}
}

input[type=text], input[type=email], input[type=password],textarea {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	padding:20px;
	font-size:25px;
	min-width:300px;
}

.contact {
	background-color: white;
}

.navbar-inner {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

	h1 {
		font-size: 106px;
		line-height: 91px;
		text-shadow: 1px 1px 5px rgba(150, 150, 150, 1);
	}

footer {
	height: 36px;
	padding: 22px 0;
	margin-top:60px;
	width:960px;
	margin:0 auto;
border-top: 1px solid white;
padding-top: 60px;
}

textarea {
height: 200px;
width: 70%;
	padding:25px;
	font-size: 20px;
}

.tag-line {
	position: relative;
bottom: 48px;
}

.background {
	position: absolute;
	z-index: -1;
	width: 100%;
	min-width: 660px;
	img {
		width:100%;
		max-height: 900px;
	}
}

label {
	margin-bottom: 0;
	color:#ece9d7;
}

.work-explanation {
height: 283px;
position: absolute;
background: rgba(0, 0, 0, 0.7);
width: 283px;
text-align: left;
padding: 15px;
font-size: 16px;
}

.tiny-margin-bottom {
	margin-bottom: 5px;
}

.send-button {
	margin: 10px 40px 60px 0;
}

.navbar .nav>li>a {
color: #FF745E;
}

.background-white {
	background-color: white;
}

.clear-both {
	clear:both;
}

.small {
	font-size:12px;
}

.medium {
	font-size: 16px;
}

ul, li {
	list-style: none;
}

.orange {
	color: orange;
}

.voted {
	color:orange;
	&:hover {
		color:grey;
	}
}

.not-voted {
	color:#eee;
	&:hover {
		color:#e36b23;
	}
}

.votes-post {
position: relative;
left: 0px;
top: 4px;
padding: 10px;
width: 28px;
font-size: 30px;
float: left;
min-height: 40px;
}

.vote-count {
float: left;
padding: 25px 14px;
}

.post {
border-bottom: 1px solid lightgrey;
border-top: 1px solid lightgrey;
	&:hover {
		background:lightgrey;
	}
}

.post-content {
	margin-top:10px;
}

.comment {
	margin-top: 20px;
	textarea {
		height:100px;
	}
}

blockquote {
	font-size: 29px;
	line-height: 29px;
}

.contact_us {
	min-height: 260px;
	background: white;
	padding-left:5%;
	label {
		color:#696161;
	}
}

.posts-list {
	margin-top: 15px;
}

.posts {
	margin-left: 0;
}

.authentication {
margin-bottom: 55px;
}

.lead {
	font-family:helvetica, arial;
}

.social-shares {
text-align: right;
}

.social-buttons {
	padding: 10px;
	background: white;
	background: rgba(255,255,255,.9);
	width:140px;
	text-align: center;
}

.social-buttons li {
	margin-top: 7px;
	float:left;
}

.pitch {
margin-right: 50px;
background: rgba(255,255,255,.9);
color: black;
padding: 10px;
}

.tags {
	margin:10px 0;
}

.tag-header {
	padding-top:10px;
}

.comments {
	border-top:1px solid white;
}


.how {
padding-top: 50px;
background:lime;
color:white;
}

.black {
	color:black;
}

.stats {
position: absolute;
right: 28px;
top: 52px;
}

.brand {
	color:white !important;
}

.nav {
	color:white;
}

.navbar {
	margin:0;
}

.hero {
	background:black;
	color:white;
	padding-left:5%;
	padding-bottom:20px;
}

.artist-maker-entrepreneur {
	position: relative;
	bottom:40px;
}