<div class="row">
    <div class="span4">
        <ul class="nav nav-list" data-spy="affix" data-offset-top="80">
            <li><a href="#one"> What is Artup Weekend?</a></li>
            <li><a href="#two"> Why should artists work with makers and entrepreneurs?</a></li>
            <li><a href="#three"> How can I participate?</a></li>
            <li><a href="#four"> How can I host my own Artup Weekend in my city?</a></li>
            <!-- <li><a href="#five"><i class="icon-chevron-right"></i> Five</a></li>
            <li><a href="#six"><i class="icon-chevron-right"></i> Six</a></li>
            <li><a href="#seven"><i class="icon-chevron-right"></i> Seven</a></li> -->
        </ul>

    </div>
    <div class="span8">
        <fieldset id="one">
            <legend>What is Artup Weekend?</legend>
            <div class="fieldset-content">
                <p>
                  BankmyBiz is a <strong>Two-Sided Network</strong> meaning there are only two types of people invited to the party: Lenders and Owners. Lenders are all types of people who work for banks or organizations that can help finance a business. Owners are users who either own businesses or "own" getting financing for a business. They're the deciders and interested parties who are valuable folks to get to know when building a relationship with a business.
                </p>
            </div>
        </fieldset>
        
        <fieldset id="two">
            <legend>Why should artists work with makers and entrepreneurs?</legend>
            <div class="fieldset-content">
                <p>

                </p>
            </div>
        </fieldset>
        
        <fieldset id="three">
            <legend>How can I participate?</legend>
            <div class="fieldset-content">
                <p>
                  Your profile is your landing page for your personal activity. Share information about yourself and organization and keep up on coversations with other lenders and owners you connect with. You can gain reputation for your expertise and experience with financing by creating great comments and newsfeed posts. By being a point leader, others on the site will look to you as an expert in that area. Your expertise will be in high demand by other owners and will give confidence to lenders.
                </p>
            </div>
        </fieldset>

        <fieldset id="four">
            <legend>How can I host my own Artup Weekend in my city?</legend>
            <div class="fieldset-content">
                <p>

                </p>
            </div>
        </fieldset>
<!--
        <fieldset id="five">
            <legend>five</legend>
            <div class="fieldset-content">
                <p>
                    "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi 
                    architecto beatae vitae dicta sunt     explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione 
                    voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut 
                    labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi 
                    consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eumfugiat quovoluptas nulla pariatur?"
                </p>
            </div>
        </fieldset>

        <fieldset id="six">
            <legend>six</legend>
            <div class="fieldset-content">
                <p>
                    "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi 
                    architecto beatae vitae dicta sunt     explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione 
                    voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut 
                    labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi 
                    consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eumfugiat quovoluptas nulla pariatur?"
                </p>
            </div>
        </fieldset>

        <fieldset id="seven">
            <legend>seven</legend>
            <div class="fieldset-content">
                <p>
                    "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi 
                    architecto beatae vitae dicta sunt     explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione 
                    voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut 
                    labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi 
                    consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eumfugiat quovoluptas nulla pariatur?"
                </p>
            </div>
        </fieldset>         -->
    </div>
</div>