<div class="row">
  <div class="col-sm-4">
    <ul class="nav nav-list" id="list">
      <li><a href="#one"> Welcome!</a></li>
      <li><a href="#two"> Building Your Artup Team</a></li>
      <li><a href="#three"> Getting a Venue</a></li>
      <li><a href="#four"> Fundraising</a></li>
      <li><a href="#five"> Attracting Participants</a></li>
      <li><a href="#six"> Brand Do's and Don'ts</a></li>
      <li><a href="#seven"> For Mentors</a></li>
      <li><a href="#eight"> Scholarship Tickets</a></li>
      <li><a href="#nine"> Food</a></li>
      <li><a href="#ten"> The Day Of Checklists</a></li>
      <li><a href="#eleven"> Idea Do's and Don'ts</a></li>
      <li><a href="#twelve"> The Day After Checlists</a></li>
    </ul>
  </div>

  <div class="col-sm-8">
      <fieldset id="one">
          <h2>Welcome!</h2>
          <hr>
          <div class="fieldset-content">
            <p>
              Welcome to being an organizer for your very own <strong>Artup Weekend</strong>. You have the very important job of creating a space for Artists, Entrepreneurs, and Makers to come together and create amazing art objects! 
            </p>
            <p>
              We hope that these materials will help you be a success in creating, promoting, running, and wrapping up your Artup Weekend. In addition, we think that these tips and tricks are just great practice in general for fundraising and making a great event. <strong>Enjoy!</strong>
            </p>
            <p>
              If you have any questions you can always email <a href="mailto:team@artupweekend.org">team@artupweekend.org</a>
            </p>
          </div>
      </fieldset>
      
      <fieldset id="two">
        <h2>Building Your Artup Team</h2>
        <hr>
        <div class="fieldset-content">
          <p>
            Building a broad and well working team is critical to running your Artup Weekend successfully.
          </p>
          <p>
            Introduce the idea to people who you know or know by repute are reliable, who use clear communication, practice commitment, and have a habit of following through. At the very beginning and throughout the work, continually set expectations with them of their important role, deliverables, and timeline. 
          </p>
          <p>
            Include members on your team that are connected or who themselves are <strong>Entrepreneurs, Artists, and Makers</strong> in your city. Maybe have representatives from local coworking, studio, and maker spaces. 
          </p>
        </div>
      </fieldset>
      
      <fieldset id="three">
        <h2>Getting a Venue</h2>
        <hr>
        <div class="fieldset-content">
          <p>
            The venue is definitely the <strong>MOST IMPORTANT</strong> thing to plan for and secure when planning your Artup Weekend event. Luckily it is not the hardest part (that is promotion!).
          </p>
          <p>
            Brainstorm with your team where the best place could be to hold your Artup Weekend. Consider parking, access to food, water, and bathrooms. Consider that teams will most likely need clean and 'dirty' spaces to meet and work. A/V is always a plus if you are planning even a small event - a microphone, sound system, and projector are not required but they help.
          </p>
          <p>
            Get the space donated. Build a relationship with potential venues and make sure they understand that they are making a very valuable in kind donation. If you can't get the space you want donated. Budget in the cost of the venue - you're gonna have to fundraise that all back so careful! Also try to get a discount because of the arts, being an official non-profit (as you are though your license with Artup Weekend), education, community building, and economic development. 
          </p>
          <p>
            Remember venues are happy to offer more than just their space! See if other offers such as food, A/V, prizes, promotion, or others are on the table.
          </p>
        </div>
      </fieldset>

      <fieldset id="four">
        <h2>Fundraising</h2>
        <hr>
        <div class="fieldset-content">
          <p>
            The number one reason people give money, is because they were asked. That being said there are a few tips and tricks to making the most of fundraiser relationships.
          </p>
          <ul>
            <li>
              Come in "cool" not "hot" - Start relationships with potential donors cool. Describe what you are working on in an offhand way. Cite what is important to that potential donor - if it is a university arts department professor, talk about participants learning to monetize art - if you're talking to a business, talk about economic development and team building.
            </li>
            <li>
              Ask - Make sure to ask for their support during your indiegogo campaign. If they aren't immediately excited, mention that there are many ways to be committed from money to prizes.
            </li>
            <li>
              LOI - Letters of Intent are <strong>AWESOME</strong>. They give a sense of commitment and binding to a verbal "Yes". Use <%= link_to "this one", loi_path %> if you like.
            </li>
            <li>
              Track all leads and their contact info in a spreadsheet.
            </li>
            <li>
              Follow up -  Give updates on progress with the event to pledged donors.
            </li>
            <li>
              Never walk away empty handed - If they say "No" to giving money. Ask for something else -> art materials, promotion, an email blast, inclusion in their next newsletter, 5 facebook posts, send a team to participate as a team building exercise, a prize, a recommendation to a PR outlet a place to exhibit art, food - anything you can think of! As a <strong>Last Resort</strong>at least get their "Official Endorsement", this lends credibility to your indiegogo campaign and gives you a reason to stay in touch with them when you are blasting your indiegogo campaign.
            </li>
          </ul>
        </div>
      </fieldset>

      <fieldset id="five">
        <h2>Attracting Participants</h2>
        <hr>
        <div class="fieldset-content">
          <p>
            The number one reason people give money, is because they were asked. That being said there are a few tips and tricks to making the most of fundraiser relationships.
          </p>

        </div>
      </fieldset>

      <fieldset id="six">
          <h2>Attracting Participants</h2>
          <hr>
          <div class="fieldset-content">
              <p>
 
              </p>
          </div>
      </fieldset>

      <fieldset id="seven">
          <h2>Brand Do's and Don'ts</h2>
          <hr>
          <div class="fieldset-content">
              <p>
                  "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi 
                  architecto beatae vitae dicta sunt     explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione 
                  voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut 
                  labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi 
                  consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eumfugiat quovoluptas nulla pariatur?"
              </p>
          </div>
      </fieldset>
      <fieldset id="eight">
          <h2>seven</h2>
          <hr>
          <div class="fieldset-content">
              <p>
                  "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi 
                  architecto beatae vitae dicta sunt     explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione 
                  voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut 
                  labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi 
                  consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eumfugiat quovoluptas nulla pariatur?"
              </p>
          </div>
      </fieldset>
  </div>
</div>