<div class="row">
  <div class="col-sm-4">
    <ul class="nav nav-list" id="list">
      <li><a href="#one"> Welcome!</a></li>
      <li><a href="#two"> Building Your Artup Team</a></li>
      <li><a href="#three"> Getting a Venue</a></li>
      <li><a href="#four"> Fundraising</a></li>
      <li><a href="#five"> Attracting Participants</a></li>
      <li><a href="#six"> Brand Do's and Don'ts</a></li>
      <li><a href="#seven"> For Mentors</a></li>
      <li><a href="#eight"> Scholarship Tickets</a></li>
      <li><a href="#nine"> Food</a></li>
      <li><a href="#ten"> The Day Of Checklists</a></li>
      <li><a href="#eleven"> Idea Do's and Don'ts</a></li>
      <li><a href="#twelve"> The Day After Checlists</a></li>
    </ul>
  </div>

  <div class="col-sm-8">
      <fieldset id="one">
          <h2>Welcome!</h2>
          <hr>
          <div class="fieldset-content">
            <p>
              Welcome to being an organizer for your very own <strong>Artup Weekend</strong>. You have the very important job of creating a space for Artists, Entrepreneurs, and Makers to come together and create amazing art objects! 
            </p>
            <p>
              We hope that these materials will help you be a success in creating, promoting, running, and wrapping up your Artup Weekend. In addition, we think that these tips and tricks are just great practice in general for fundraising and making a great event. <strong>Enjoy!</strong>
            </p>
            <p>
              If you have any questions you can always email <a href="mailto:team@artupweekend.org">team@artupweekend.org</a>
            </p>
          </div>
      </fieldset>
      
      <fieldset id="two">
        <h2>Building Your Artup Team</h2>
        <hr>
        <div class="fieldset-content">
          <p>
            Building a broad and well working team is critical to running your Artup Weekend successfully.
          </p>
          <p>
            Introduce the idea to people who you know or know by repute are reliable, who use clear communication, practice commitment, and have a habit of following through. At the very beginning and throughout the work, continually set expectations with them of their important role, deliverables, and timeline. 
          </p>
          <p>
            Include members on your team that are connected or who themselves are <strong>Entrepreneurs, Artists, and Makers</strong> in your city. Maybe have representatives from local coworking, studio, and maker spaces. 
          </p>
        </div>
      </fieldset>
      
      <fieldset id="three">
        <h2>Getting a Venue</h2>
        <hr>
        <div class="fieldset-content">
          <p>
            The venue is definitely the <strong>MOST IMPORTANT</strong> thing to plan for and secure when planning your Artup Weekend event. Luckily it is not the hardest part (that is promotion!).
          </p>
          <p>
            Brainstorm with your team where the best place could be to hold your Artup Weekend. Consider parking, access to food, water, and bathrooms. Consider that teams will most likely need clean and 'dirty' spaces to meet and work. A/V is always a plus if you are planning even a small event - a microphone, sound system, and projector are not required but they help.
          </p>
          <p>
            Get the space donated. Build a relationship with potential venues and make sure they understand that they are making a very valuable in kind donation. If you can't get the space you want donated. Budget in the cost of the venue - you're gonna have to fundraise that all back so careful! Also try to get a discount because of the arts, being an official non-profit (as you are though your license with Artup Weekend), education, community building, and economic development. 
          </p>
          <p>
            Remember venues are happy to offer more than just their space! See if other offers such as food, A/V, prizes, promotion, or others are on the table.
          </p>
        </div>
      </fieldset>

      <fieldset id="four">
        <h2>Fundraising</h2>
        <hr>
        <div class="fieldset-content">
          <p>
            The number one reason people give money, is because they were asked. That being said there are a few tips and tricks to making the most of fundraiser relationships.
          </p>
          <p>
              <strong>Come in "cool" not "hot"</strong> - Start relationships with potential donors cool. Describe what you are working on in an offhand way. Cite what is important to that potential donor - if it is a university arts department professor, talk about participants learning to monetize art - if you're talking to a business, talk about economic development and team building.
            </p>
            <p>
              <strong>Ask</strong> - Make sure to ask for their support during your indiegogo campaign. If they aren't immediately excited, mention that there are many ways to be committed from money to prizes.
            </p>
            <p>
              <strong>LOI</strong> - Letters of Intent are <strong>AWESOME</strong>. They give a sense of commitment and binding to a verbal "Yes". Use <%= link_to "this one", loi_path %> if you like.
            </p>
            <p>
              <strong>Track</strong> - all potential sponsors and their contact info in a spreadsheet. (google docs is best!)
            </p>
            <p>
              <strong>Follow up</strong> -  Give updates on progress with the event to pledged donors.
            </p>
            <p>
              <strong>Never walk away empty handed</strong> - If they say "No" to giving money. Ask for something else (art materials, promotion, an email blast, inclusion in their next newsletter, 5 facebook posts, send a team to participate as a team building exercise, a prize, a recommendation to a PR outlet a place to exhibit art, food - anything you can think of!) As a <strong>Last Resort</strong>at least get their "Official Endorsement", this lends credibility to your indiegogo campaign and gives you a reason to stay in touch with them when you are blasting your indiegogo campaign.
            </p>
          </ul>
        </div>
      </fieldset>

      <fieldset id="five">
        <h2>Attracting Participants</h2>
        <hr>
        <div class="fieldset-content">
          <p>
            Getting Participants is <strong>the hardest and second most important part</strong> of putting on Artup Weekend. But the following tips and tricks should make it ~5x easier. Here are channels and strateges listed in order of ease and impact.
          </p>
          <p>
            <strong>PR</strong> - PR is easy but not probable. However, by issuing a pres release, or better yet @-mentioning a bunch of arts/technology editors at local newspapers citing your endorsements, sponsors, and the innovative nature of the event, you should make an impact. Remember to <strong>emphasize the mixing of Artists, Entrepreneurs, and Makers</strong>. 
            <strong>Endorsement/Sponsor Promotion</strong> - 
            <strong>Social Media</strong> - 
            <strong>Guerrilla Marketing</strong> -
            <strong>Posters</strong> -
          </p>
        </div>
      </fieldset>

      <fieldset id="six">
          <h2>Brand Do's and Don'ts</h2>
          <hr>
          <div class="fieldset-content">
              <p>
 
              </p>
          </div>
      </fieldset>

      <fieldset id="seven">
          <h2>For Mentors</h2>
          <hr>
          <div class="fieldset-content">
              <p>
              </p>
          </div>
      </fieldset>
      <fieldset id="eight">
          <h2>Scholarship Tickets</h2>
          <hr>
          <div class="fieldset-content">
              <p>
              </p>
          </div>
      </fieldset>
      <fieldset id="nine">
          <h2>Food</h2>
          <hr>
          <div class="fieldset-content">
              <p>
              </p>
          </div>
      </fieldset>
      <fieldset id="ten">
          <h2>The Day Of Checklists</h2>
          <hr>
          <div class="fieldset-content">
              <p>
              </p>
          </div>
      </fieldset>
      <fieldset id="eleven">
          <h2>Idea Do's and Don'ts</h2>
          <hr>
          <div class="fieldset-content">
              <p>
              </p>
          </div>
      </fieldset>
      <fieldset id="twelve">
          <h2>The Day After Checklist</h2>
          <hr>
          <div class="fieldset-content">
              <p>
              </p>
          </div>
      </fieldset>
  </div>
</div>