<div class="row">
  <div class="col-sm-4">
    <ul class="nav nav-list" id="list">
      <li><a href="#one"> Welcome!</a></li>
      <li><a href="#two"> Building Your Artup Team</a></li>
      <li><a href="#twohalf"> Timelines</a></li>
      <li><a href="#three"> Getting a Venue</a></li>
      <li><a href="#four"> Fundraising</a></li>
      <li><a href="#five"> Attracting Participants</a></li>
      <li><a href="#six"> Brand Do's and Don'ts</a></li>
      <li><a href="#seven"> For Mentors</a></li>
      <li><a href="#eight"> Scholarship Tickets</a></li>
      <li><a href="#nine"> Food</a></li>
      <li><a href="#ten"> The Day Of Checklists</a></li>
      <li><a href="#eleven"> Idea Do's and Don'ts</a></li>
      <li><a href="#twelve"> The Day After Checlists</a></li>
    </ul>
  </div>

  <div class="col-sm-8">
      <fieldset id="one">
          <h2>Welcome!</h2>
          <hr>
          <div class="fieldset-content">
            <p>
              Welcome to being an organizer for your very own <strong>Artup Weekend</strong>. You have the very important job of creating a space for Artists, Entrepreneurs, and Makers to come together and create amazing art objects! 
            </p>
            <p>
              We hope that these materials will help you be a success in creating, promoting, running, and wrapping up your Artup Weekend. In addition, we think that these tips and tricks are just great practice in general for fundraising and making a great event. <strong>Enjoy!</strong>
            </p>
            <p>
              If you have any questions you can always email <a href="mailto:team@artupweekend.org">team@artupweekend.org</a>
            </p>
          </div>
      </fieldset>
      
      <fieldset id="two">
        <h2>Building Your Artup Team</h2>
        <hr>
        <div class="fieldset-content">
          <p>
            Building a broad and well working team is critical to running your Artup Weekend successfully.
          </p>
          <p>
            Introduce the idea to people who you know or know by repute are reliable, who use clear communication, practice commitment, and have a habit of following through. At the very beginning and throughout the work, continually set expectations with them of their important role, deliverables, and timeline. 
          </p>
          <p>
            Include members on your team that are connected or who themselves are <strong>Entrepreneurs, Artists, and Makers</strong> in your city. Maybe have representatives from local coworking, studio, and maker spaces. 
          </p>
        </div>
      </fieldset>

      <fieldset id="twohalf">
        <h2>Timelines</h2>
        <hr>
        <div class="fieldset-content">
          <p>
            <strong>Timeline of the Weekend (suggested)</strong>
          </p>
          <p>
            <ul>
              <p>
                <b>Friday</b>
              </p>
              <li>6:00pm - 7:00 Registration</li>
              <li>7:00pm - 8:00 Open presentation & 1 Min Pitches</li>
              <li>8:00pm - 9:00 Voting & Team Building</li>
              <li>9:00pm - 12:00 Work time (optional)</li>
              <p>
                <b>Satruday</b>
              </p>
              <li>8:30am Coffee</li>
              <li>9:00am - 10:00 Breakfast</li>
              <li>1:00pm - 2:00 Lunch</li>
              <li>7:00pm - 8:00 Dinner</li>
              <li>12:00am Close down</li>
              <p>
                <b>Sunday</b>
              </p>
              <li>9:00am Coffee</li>
              <li>10:00am - 11:00 Brunch</li>
              <li>1:00pm - 2:30 5 Min Pitches, Judging & Prizes</li>
              <li>2:30pm - 5 Public Gallery</li>
            </ul>
          </p>
          <p>
            <strong>Timeline Planning (suggested)</strong>
          </p>
          <p>
            <ul>
              <p>
              <li>
                  <b>14-26 Weeks before the Weekend</b>
                <ul>
                  <li>Apply for License</li>
                  <li>Lock in Venue</li>
                  <li>Build Team</li>
                  <li>Build Partnerships</li>
                  <li>Fundraise</li>
                  <li>Promote the Event</li>
                  <li>Get Mentors</li>
                  <li>Get Judges</li>
                </ul>
              </li>
            </p>
              <li>7 Weeks before: Complete draft Indiegogo video and descriptions</li>
              <li>6 Weeks before: Start Indiegogo</li>
              <li>3 Weeks before: Print T-Shirts</li>
              <li>1 Week before: Receive Campaign Funds From Artup</li>
              <li>The Weekend</li>
              <li>1 Week after: Send Thank You's & Other Rewards</li>
            </ul>
          </p>
        </div>
      </fieldset>
      
      <fieldset id="three">
        <h2>Getting a Venue</h2>
        <hr>
        <div class="fieldset-content">
          <p>
            The venue is definitely the <strong>MOST IMPORTANT</strong> thing to plan for and secure when planning your Artup Weekend event. Luckily it is not the hardest part (that is promotion!).
          </p>
          <p>
            Brainstorm with your team where the best place could be to hold your Artup Weekend. Consider parking, access to food, water, and bathrooms. Consider that teams will most likely need <strong>clean and 'dirty' spaces</strong> to meet and work. A/V is always a plus if you are planning even a small event - <strong>a microphone, sound system, and projector</strong> are not required but they help.
          </p>
          <p>
            <strong>Get the space donated</strong>. Build a relationship with potential venues and make sure they understand that they are making a very valuable in kind donation. <strong>If you can't</strong> get the space you want donated. Budget in the cost of the venue - you're gonna have to fundraise that all back so careful! Also try to get a discount because of the arts, being an official non-profit (as you are though your license with Artup Weekend), education, community building, and economic development. 
          </p>
          <p>
            Remember venues are happy to offer <strong>more than just their space!</strong> See if other offers such as food, A/V, prizes, promotion, or others are on the table.
          </p>
        </div>
      </fieldset>

      <fieldset id="four">
        <h2>Fundraising</h2>
        <hr>
        <div class="fieldset-content">
          <p>
            The number one reason people give money, is because they were asked. That being said there are a few tips and tricks to making the most of fundraiser relationships.
          </p>
          <p>
              <strong>Come in "cool" not "hot"</strong> - Start relationships with potential donors cool. Describe what you are working on in an offhand way. Cite what is important to that potential donor - if it is a university arts department professor, talk about participants learning to monetize art - if you're talking to a business, talk about economic development and team building.
            </p>
            <p>
              <strong>Ask</strong> - Make sure to ask for their support during your indiegogo campaign. If they aren't immediately excited, mention that there are many ways to be committed from money to prizes.
            </p>
            <p>
              <strong>LOI</strong> - Letters of Intent are <strong>AWESOME</strong>. They give a sense of commitment and binding to a verbal "Yes". Use <%= link_to "this one", loi_path %> if you like.
            </p>
            <p>
              <strong>Track</strong> - all potential sponsors and their contact info in a spreadsheet. (google docs is best!)
            </p>
            <p>
              <strong>Follow up</strong> -  Give updates on progress with the event to pledged donors.
            </p>
            <p>
              <strong>Never walk away empty handed</strong> - If they say "No" to giving money. Ask for something else (art materials, promotion, an email blast, inclusion in their next newsletter, 5 facebook posts, send a team to participate as a team building exercise, a prize, a recommendation to a PR outlet a place to exhibit art, food - anything you can think of!) As a <strong>Last Resort</strong>at least get their "Official Endorsement", this lends credibility to your indiegogo campaign and gives you a reason to stay in touch with them when you are blasting your indiegogo campaign.
            </p>
          </ul>
        </div>
      </fieldset>

      <fieldset id="five">
        <h2>Attracting Participants</h2>
        <hr>
        <div class="fieldset-content">
          <p>
            Getting Participants is <strong>the hardest and second most important part</strong> of putting on Artup Weekend. But the following tips and tricks should make it ~5x easier. Here are channels and strateges listed in order of ease and impact.
          </p>
          <p>
            <strong>PR</strong> - PR is easy but not probable. However, by issuing a pres release, or better yet @-mentioning a bunch of arts/technology editors at local newspapers while citing your endorsements, sponsors, and the innovative nature of the event, you should make an impact. Remember to <strong>emphasize the mixing of Artists, Entrepreneurs, and Makers</strong>.
          </p> 
          <p>
            <strong>Endorsement/Sponsor Promotion</strong> - Remember all those guys who wouldn't give you money but promised to endorse you? Get them to post on their social media and email newsletters about Artup Weekend when your indiegogo campaign starts.
          </p>
          <p>
            <strong>Social Media</strong> - Have a basic level of social media engagement (especially to reach out to entrepreneurs and makers), but don't get lopsided: although makers and entrepreneurs are often on twitter, artists might not be!
          </p>
          <p>
            <strong>Guerrilla Marketing</strong> - Make guerrilla marketing fun, kinda like a pre-artup weekend to bond with the mentors and planners. Don't expect it to have a HUGE impact on your numbers, but try to make it be an example, or a mini, Artup project. Document the production and finished product and post it though social media. Probably the pictures and videos of what you did will have a bigger impact than the actual thing itself. 
          </p>
          <p>
            <strong>Posters</strong> - Posters can be cool if you have rockstar print maker or designer and a printing budget. But they are kinda expensive and hard to get made and put up. Don't let them be a time and attention sink.
          </p>
        </div>
      </fieldset>

      <fieldset id="six">
          <h2>Brand Do's and Don'ts</h2>
          <hr>
          <div class="fieldset-content">
            <p>
              Branding is about consistency, so don't go crazy branding your Artup Weekend. The logo should only ever be black background with white helvetica "Artup Weekend, Your City." Optionally you can put the year in the same font and font size after the city. If you need to save space, you can put "Artup" on one line and "Weekend" and the city on the next (both left justified). Also optional is in smaller helvetica below the logo: "Makers DOT Artists DOT Entrepreneurs" in that order with white white dots in between.
            </p>
            <p>
              Do not pick or promote a theme or tag-line for your Artup Weekend. Artup Weekend is a fun and strong but neutral platform for your participants own themes and subjects they are excited to create. If this seems boring or stifling, please discuss this with the Artup staff.
            </p>
          </div>
      </fieldset>

      <fieldset id="seven">
          <h2>For Mentors</h2>
          <hr>
          <div class="fieldset-content">
            <p>
              Congradulations! You're a mentor for Artup Weekend. You have a very important opportunity and responsiblity. The goal of your role before the event is to help promote your Artup Weekend to your community. At the event your role is to help teams be successful.
            </p>
            <p>
              A couple habits that will help you be successful in your role as a mentor:
            </p>
            <ul>
              <li>
                <strong>80/20</strong> - You should spend around 80% of your time asking people questions about their projects and 20% of the time offering your opinion.
              </li>
              <li>
                <strong>The Curse of Expertise</strong> - You are probably and expert at some skill in Making, Entrepreneurship, or Art, but this might actually hurt you as you try to mentor teams. Make sure to keep your expertise in check as you circulate to help.
              </li>
            </ul>
          </div>
      </fieldset>
      <fieldset id="eight">
          <h2>Scholarship Tickets</h2>
          <hr>
          <div class="fieldset-content">
            <p>
              You are allowed to offer scholarship tickets at your discretion. Be remember that although people value very costly things given to them for free (e.g. a scholarship to college), often people don't value something not very expensive that they don't pay for (e.g. plastic bags).
            </p>
          </div>
      </fieldset>
      <fieldset id="nine">
          <h2>Food</h2>
          <hr>
          <div class="fieldset-content">
            <p>
            </p>
          </div>
      </fieldset>
      <fieldset id="ten">
          <h2>The Day Of Checklists</h2>
          <hr>
          <div class="fieldset-content">
            <p>
            </p>
          </div>
      </fieldset>
      <fieldset id="eleven">
          <h2>Idea Do's and Don'ts</h2>
          <hr>
          <div class="fieldset-content">
            <p>
            </p>
          </div>
      </fieldset>
      <fieldset id="twelve">
          <h2>The Day After Checklist</h2>
          <hr>
          <div class="fieldset-content">
            <p>
            </p>
          </div>
      </fieldset>
  </div>
</div>