<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-1">

    <p>To Whom It May Concern,</p>

    <p> ____________________________________________ support(s) Artup Weekend&rsquo;s mission to enable the creative aspirations of artists, makers, and entrepreneurs for the sake of community, personal, and economic development. </p>

    <p>In support of this mission we pledge a cash and/or in kind donation outlined below.</p>

    <p> $ ________________________ to be given on _______________________ (date)</p>

    <p> (in kind donations - e.g. endorsement, email blast, facebook promotion, exhibition space, venue, artistic materials, food &amp; drink . . . )</p>

    <p>____________________________________________________________________</p>

    <p>____________________________________________________________________</p>

    <p>____________________________________________________________________</p>

    <p>____________________________________________________________________</p>

    <p>____________________________________________________________________</p>

    <p> Sincerely,</p>

    <p>________________________________________________(signature)</p>

    <p>________________________________________________(name)</p>

    <p>________________________ (address)</p>

    <p>________________________ (address)</p>

    <p>________________________ (phone number)</p>

    <p>________________________ (email) </p>
  </div>
  </div>
</div>