<div class="container">
  <div class="row">
    <h1>
      Bring Artup to Your City
    </h1>

    <div class="col-sm-8">
      <p>
        Setup an Artup Weekend in your community with our help. <b>Here's how it works.</b>
      </p>
      <p>
        Organizers receive the help and services of the national Artup Team in exchange for 30% of fundraising and donations. Immediately when your license is assigned you will receive access to: 
        <ul>
          <li>
            A packet of materials that jumpstart your event
          </li>
          <li>
            Dedicated support of an event coordinator from the national Artup Team
          </li>
        </ul>
      </p>
      <p>
        As you plan your event you will gain valuable contacts with members of your city's creative community as well as receive the help of the national Artup Team to:
        <ul>
          <li>
            Run a successful crowdfunding campaign
          </li>
          <li>
            Have a great Artup Weekend!
          </li>
        </ul>
      </p>
    <%= link_to "Host Your Own Artup Weekend", new_event_application_path, class:"btn btn-primary btn-lg" %>
    </div>
  </div>
</div>